bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Taki/.idea/contentModel.xml
/.idea/.idea.Taki/.idea/encodings.xml
/.idea/.idea.Taki/.idea/indexLayout.xml
/.idea/.idea.Taki/.idea/modules.xml
/.idea/.idea.Taki/.idea/projectSettingsUpdater.xml
/.idea/.idea.Taki/.idea/vcs.xml
/.idea/.idea.Taki/.idea/workspace.xml
